@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   <abbr title="Phone">Điện thoại 1 :</abbr>
    0948.414.359
    <br/>
    <abbr title="Phone">Điện thoại 2 :</abbr>
    01692.184.787
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:linhdk0712@gmail.com">linhdk0712@gmail.com</a><br />
   @* <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>