@using DvdShop.Models.Entities
@model DvdShop.Models.ViewModel.NewProductViewModel

@{
    ViewBag.Title = "Create";

    var studio = ViewBag.studio as IEnumerable<Studio>;
}

<h2>Create</h2>

<form id="sendDataToController">
    <fieldset>
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="control-label col-lg-2" for="Name">Tên : </label>
            <div class="col-md-10">
                <input type="text" id ="Name" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="ReceivedDate">Ngày nhận : </label>
            <div class="col-md-10">
                <input type="date" id ="ReceivedDate" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="IsFullBox">Làm hộp : </label>
            <div class="col-md-10">
                <div class="checkbox">
                    <input type="checkbox" id="IsFullBox"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="Price">Giá tiền : </label>
            <div class="col-md-10">
                <input type="number" id ="Price" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="Comment">Ghi chú : </label>
            <div class="col-md-10">
                <input type="text" id ="Comment" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="Status">Trạng thái : </label>
            <div class="col-md-10">
                <div class="checkbox">
                    <input type="checkbox" id="Status"/>
                </div>
            </div>
        </div>
         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default " id ="savedata" />
            </div>
        </div>
    </fieldset>
</form>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/admin/notify.min.js"></script>
    <script>
        $(document).ready(function () {
            var formData = $("#sendDataToController").serializeArray();
            $("#savedata").off('click').on('click',
                function() {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Create","Products")',
                        data: JSON.stringify(formData),
                        contentType: "application/json", 
                        dataType : "json",
                        cache: false,
                        success: function(status) {
                            if (status) {
                                $.notify("Thêm dữ liệu thành công");
                            } else {
                                 $.notify("Thêm dữ liệu không thành công");
                            }
                        }
                    });
                });
        });
    </script>
}
